# Package files #
*.jar
*.war
*.ear

# Eclipse files #
.classpath
.project
.settings

# IntelliJ Idea files #
*.iml
.idea/

# Maven derived files
target
*.class

# git derived files
*.orig

# Misc
*.log
